[submodule "third-party/wasi-libc"]
	path = third-party/wasi-libc
	url = git@github.com:Shillaker/wasi-libc
[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
