[submodule "third-party/wasi-libc"]
    path = third-party/wasi-libc
    url = https://github.com/faasm/wasi-libc
    branch = faasm
[submodule "third-party/llvm-project"]
    path = third-party/llvm-project
    url = https://github.com/faasm/llvm-project.git
    branch = faasm
[submodule "third-party/eigen"]
    path = third-party/eigen
    url = https://gitlab.com/shillaker/eigen.git
    branch = faasm
[submodule "third-party/libffi"]
    path = third-party/libffi
    url = https://github.com/faasm/libffi.git
    branch = faasm
[submodule "third-party/faasm-clapack"]
    path = third-party/faasm-clapack
    url = https://github.com/faasm/faasm-clapack
[submodule "third-party/faabric"]
	path = third-party/faabric
	url = git@github.com:faasm/faabric.git
