[submodule "third-party/wasi-libc"]
	path = third-party/wasi-libc
    url = https://github.com/faasm/wasi-libc
    branch = faasm
[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
    url = https://github.com/faasm/llvm-project.git
    branch = faasm
