name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Prune docker"
        run: docker system prune -f --all
      - name: "Get the code"
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Print tag version"
        run: echo ${{ env.TAG_VERSION }}
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v3
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3
      - name: "Log in to DockerHub"
        uses: docker/login-action@v3
        with:
          registry: faasm.azurecr.io
          username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
          password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
      - name: "Build and push cpp-sysroot container"
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          push: true
          file: docker/cpp-sysroot.dockerfile
          context: .
          tags: faasm.azurecr.io/cpp-sysroot:${{ env.TAG_VERSION }}
          build-args: SYSROOT_VERSION=${{ env.TAG_VERSION }}
