name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  checks:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpp-sysroot:0.1.8
    defaults:
      run:
        working-directory: /code/cpp
    steps:
      # --- Update code --
      - name: "Pull forked repo into container"
        run: |
          git remote set-url origin https://github.com/FlowDrucka64/cpp.git
          git fetch origin
          git pull origin main
      - name: "Update Faabric submodule"
        run: git submodule update --init -f third-party/faabric
      - name: "Update FFI submodule"
        run: git submodule update --init -f third-party/libffi
      - name: "Update FFmpeg submodule"
        run: git submodule update --init -f third-party/FFmpeg
      - name: "Update ImageMagick submodule"
        run: git submodule update --init -f third-party/ImageMagick
      - name: "Update libpng submodule"
        run: git submodule update --init -f third-party/libpng
      - name: "Update zlib submodule"
        run: git submodule update --init -f third-party/zlib
      - name: "Update wasi-libc submodule"
        run: git submodule update --init -f third-party/wasi-libc
      # --- Build libraries to wasm ---
      - name: "Build libc"
        run: ./bin/inv_wrapper.sh libc
      - name: "Build libfaasm"
        run: ./bin/inv_wrapper.sh libfaasm
      - name: "Build libfaasmp"
        run: ./bin/inv_wrapper.sh libfaasmp
      - name: "Build libfaasmpi"
        run: ./bin/inv_wrapper.sh libfaasmpi
      - name: "Build libffi"
        run: ./bin/inv_wrapper.sh libffi
      - name: "Build libfake"
        run: ./bin/inv_wrapper.sh libfake
      - name: "Build libemscripten"
        run: ./bin/inv_wrapper.sh libemscripten
      - name: "Build FFmpeg"
        run: ./bin/inv_wrapper.sh ffmpeg
      - name: "Build zlib"
        run: ./bin/inv_wrapper.sh zlib
      - name: "Build libpng"
        run: ./bin/inv_wrapper.sh libpng
      - name: "Build ImageMagick"
        run: ./bin/inv_wrapper.sh imagemagick
      # --- Build functions to wasm ---
      - name: "Build the functions"
        run: ./bin/inv_wrapper.sh func.local --clean
      # --- Build libraries natively ---
      - name: "Build libfaasm native"
        run: ./bin/inv_wrapper.sh libfaasm --native --clean
      - name: "Build libfaasmp native"
        run: ./bin/inv_wrapper.sh libfaasmp --native --clean
      - name: "Build libfaasmpi native"
        run: ./bin/inv_wrapper.sh libfaasmpi --native --clean
      # --- Formatting ---
      - name: "Check python"
        run: source venv/bin/activate && ./bin/check_python.sh
        shell: bash
      - name: "Run C/C++ formatting"
        run: ./bin/run_clang_format.sh
      - name: "Check no formatting changes"
        run: git diff --exit-code -- :^third-party
