name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  # Cancel previous running actions for the same PR
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.11.0

  checks:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpp-sysroot:0.2.0
    steps:
      # --- Update code ---
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
      # See actions/checkout#766
      - name: "Set the GH workspace as a safe git directory"
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # --- Build libraries to wasm ---
      - name: "Build libc"
        run: ./bin/inv_wrapper.sh llvm.libc
      - name: "Build libfaasm"
        run: ./bin/inv_wrapper.sh libfaasm
      - name: "Build libfaasmp"
        run: ./bin/inv_wrapper.sh libfaasmp
      - name: "Build libfaasmpi"
        run: ./bin/inv_wrapper.sh libfaasmpi
      - name: "Build libffi"
        run: ./bin/inv_wrapper.sh libffi
      - name: "Build libfake"
        run: ./bin/inv_wrapper.sh libfake
      - name: "Build libemscripten"
        run: ./bin/inv_wrapper.sh libemscripten
      - name: "Build zlib"
        run: ./bin/inv_wrapper.sh zlib
      # --- Build functions to wasm ---
      - name: "Build the functions"
        run: ./bin/inv_wrapper.sh func.local --clean
      # --- Build libraries natively ---
      - name: "Build libfaasm native"
        run: ./bin/inv_wrapper.sh libfaasm --native --clean
      - name: "Build libfaasmp native"
        run: ./bin/inv_wrapper.sh libfaasmp --native --clean
      - name: "Build libfaasmpi native"
        run: ./bin/inv_wrapper.sh libfaasmpi --native --clean
      # --- Formatting ---
      - name: "Format code"
        run: ./bin/inv_wrapper.sh format-code --check
