name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  # Cancel previous running actions for the same PR
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.11.0

  checks:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpp-sysroot:0.1.9
    steps:
      # --- Update code ---
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
      # See actions/checkout#766
      - name: "Set the GH workspace as a safe git directory"
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # --- Build libraries to wasm ---
      - name: "Build libc"
        run: ./bin/inv_wrapper.sh libc
      - name: "Build libfaasm"
        run: ./bin/inv_wrapper.sh libfaasm
      - name: "Build libfaasmp"
        run: ./bin/inv_wrapper.sh libfaasmp
      - name: "Build libfaasmpi"
        run: ./bin/inv_wrapper.sh libfaasmpi
      - name: "Build libffi"
        run: ./bin/inv_wrapper.sh libffi
      - name: "Build libfake"
        run: ./bin/inv_wrapper.sh libfake
      - name: "Build libemscripten"
        run: ./bin/inv_wrapper.sh libemscripten
      - name: "Build FFmpeg"
        run: ./bin/inv_wrapper.sh ffmpeg
      - name: "Build zlib"
        run: ./bin/inv_wrapper.sh zlib
      - name: "Build libpng"
        run: ./bin/inv_wrapper.sh libpng
      - name: "Build ImageMagick"
        run: ./bin/inv_wrapper.sh imagemagick
      - name: "Build Tensorflow lite"
        run: ./bin/inv_wrapper.sh tensorflow
      # --- Build functions to wasm ---
      - name: "Build the functions"
        run: ./bin/inv_wrapper.sh func.local --clean
      # --- Build libraries natively ---
      - name: "Build libfaasm native"
        run: ./bin/inv_wrapper.sh libfaasm --native --clean
      - name: "Build libfaasmp native"
        run: ./bin/inv_wrapper.sh libfaasmp --native --clean
      - name: "Build libfaasmpi native"
        run: ./bin/inv_wrapper.sh libfaasmpi --native --clean
      # --- Formatting ---
<<<<<<< HEAD
<<<<<<< HEAD
      - name: "Format code"
        run: ./bin/inv_wrapper.sh format-code --check
=======
      - name: "Check python"
        run: source bin/workon.sh && ./bin/check_python.sh
        shell: bash
      - name: "Run C/C++ formatting"
        run: ./bin/run_clang_format.sh
      - name: "Check no formatting changes"
        run: git diff --exit-code -- :^third-party
>>>>>>> 61f83bb (gha: fix workflow file)
=======
      - name: "Format code"
        run: ./bin/inv_wrapper.sh format-code --check
>>>>>>> 6ba6cdc (gha: use new formatting task and actions checkout)
